<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\Order.Api.dll" stdoutLogEnabled="false" hostingModel="inprocess" />
      <httpErrors existingResponse="PassThrough" />
      <security>
        <requestFiltering>
          <!-- API enforces 1 MB and returns its JSON error; IIS provides an outer 2 MB limit. -->
          <requestLimits maxAllowedContentLength="2097152" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
</configuration>
